extends ../layout

block content
  include ../menu
  section#serverMessageModule
    if error
      p= error
  section.sectionform
    .containerform.sectionoubli
      h2 Nouveau module
      form#form(method="POST")
        if servermessage
          p.warning= servermessage
        .form-group
          label(for='module') Nom du module
          input#module.form-control(required='', placeholder="Nom du module" name="name")
        .form-group
          label(for='description') Description
          input#description.form-control(required='', placeholder="Description" name="description")
        .form-group
          label(for='apiUrl') URL d'une API
          input#apiUrl.form-control(placeholder="URL d'une API" name="apiUrl")
        #newParameters.form-group
    #editParameters.editParameters
      h3 Edition des paramètres
      label(for='parameterType') Type
      select#parameterType(name='parameterType')
        option(value="out") Requête
        option(value="in") Réponse
      br
      h2 Edition des paramètres
      label(for='parameterTag') Tag
      select#parameterTag(name='parameterTag')
        option(value="")= (aucun)
        each tag in tags
          option(value=tag.text)= tag.text
      label(for='parameter') Paramètre
      input#parameter(type="text" name="parameter" size="30")
      label(for='parameterValue') Valeur
      input#parameterValue(type="text" name="parameterValue" size="30")
      button#addParameter Ajouter le paramètre
      br
      label(for='answerTemplate') Gabarit de la réponse
      input#answerTemplate(type="text" name="answerTemplate" size="60")
      div#servermessageParameter
      br
      table#parameters(style="width:600px;border:1px solid black")
        tr
          th Type
          th Tags
          th Paramètres
          th Valeurs
          th Action
    button#addmodule.btn.gris.space(type='submit') Créer le module

  section.modulesList
    h2 Liste des modules
    table#modules(style="width:800px;border:1px solid black")
      tr
        th Nom
        th id
        th URL de l'API
        th Description
        th Action
      each module in modules
        tr(id='module' +module.id)
          td(id='moduletext' +module.id)= module.name
          td= module.id
          td= module.api.url
          td= module.description
          td
            button(id='deletemodule' +module.id) Supprimer
            br
  section.moduleEdit
    h2 Liste des modules
    each module, m in modules
      h3= module.name + ' :'
      h4 Paramètres
      table(id='parametersEdit' +m style="width:600px;border:1px solid black")
        tr
          th Type
          th Tags
          th Paramètres
          th Valeurs
        each parameter, i in module.api.parameters
          tr(id='parameter' +i)
            td(id='parameterType' +i)= parameter.type
            td(id='parameterTag' +i)= parameter.tag
            td(id='parameterText' +i)= parameter.text
            td(id='parameterValue' +i)
        each fixed, i in module.api.fixed
          tr(id='fixed' +i)
            td(id='fixedType' +i)= fixed.type
            td(id='fixedTag' +i)
            td(id='fixedText' +i)= fixed.text
            td(id='fixedValue' +i)= fixed.value
      h4 Gabarit de la réponse :
      p(style="width:600px;border:1px solid black")=  module.api.answer

  script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(type='text/javascript', src='/js/module.js')
