extends ../layout

block content
    if message
        p#s3=message
    section.sectionform
    .containerform
      form#form(method="POST")
        if error
          p.warning=error[0]
        .form-group
          label(for='Votre mail') Mail
          input#email.form-control(type='email', required='', placeholder="Votre adresse mail" name="email")
        if error
          p.warning=error[1]
        .form-group
          label(for='motdepasse') Nom
          input#motdepasse.form-control(type='text', required='', placeholder='Votre nom' name="nom")
        if error
          p.warning=error[2]
        .form-group
          label(for='motdepasse') Prénom
          input#motdepasse.form-control(type='text', required='', placeholder='Votre prénom' name="prenom")
        if error
          p.warning=error[3]
        .form-group
          label(for='motdepasse') Message
          input#motdepasse.form-control(type='text', required='', placeholder='Votre message' name="message")
        button.btn.orange(type='submit') Envoyer