extends ../layout

block content
  //p.textconnect Déjà client ? Vous pouvez vous connecter en cliquant sur le bouton ci-joint  
    a(href="/" class="btn orange btconnect") Se connecter
  section.sectioninscription
    p Ce formulaire vous permet de vous inscrire pour découvrir notre générateur de chatbots
  //- Section fin Inscription texte d'accueil
  //- Section début Le formulaire d'inscription
  section.sectionform
    .containerform
      form#form(method="POST")
        p.required Tous les champs obligatoires sont signalés par une *.
        p.required Merci de veiller à bien les renseigner.
        if error
          p.warning= error[0]
        //- A transformer en mixin
        .form-group
          label(for='firstname') Prénom *
          input#firstname.form-control(value=(body ? body.firstname : false) type='text', placeholder='Votre prénom', name="firstname")
          if error
            p.warning= error[1]
        .form-group 
          label(for='name') Nom *
          input#name.form-control(value=(body ? body.name : false) type='text', placeholder='Votre nom', name='name')
          if error
            p.warning= error[2]
        .form-group
          label(for='email') Identifiant *
          input#email.form-control(value=(body ? body.email : false) type='email', placeholder="Votre email est votre identifiant", name="email")
          if error
            p.warning= error[3]
        .form-group
          label(for='password') Mot de passe *
          input#password.form-control(value=(body ? body.password : false) type='password', placeholder='Choisissez votre mot de passe', name="password")
          if error
            p.warning= error[4]
        .form-group
          label(for='dateofbirth') Entreprise
          input#dateofbirth.form-control(value=(body ? body.dateofbirth : false) type='text', placeholder='Votre entreprise', name="dateofbirth")
          if error
            p.warning= error[5]
        .form-group
          label(for='address') Adresse
          input#address.form-control(value=(body ? body.address : false) type='text', placeholder="Adresse", name="address")
          if error
            p.warning= error[6]
        .form-group
          label(for='zipcode') Code postal
          input#zipcode.form-control(value=(body ? body.zipcode : false) type='text', placeholder='Code postal', name="zipcode")
          if error
            p.warning= error[7]
        .form-group
          label(for='city') Ville
          input#city.form-control(value=(body ? body.city : false) type='text', placeholder='Ville', name="city")
          if error
            p.warning= error[8]
        .form-group
          label(for='phone') Téléphone
          input#phone.form-control(value=(body ? body.phone : false) type='text', placeholder='Téléphone', name="phone")
          if error
            p.warning= error[9]
        button.btn.orange(type='submit') Inscription
        //- Section fin Le formulaire d'inscription
